//colors
$color-bodyLightGrey: #e7e9ee;
$color-bodyDarkGrey: #b5b9c2;
$color-contentBackground: #f3f7fa;
$color-Blue: #587aff;
$color-greyFont: #808d97;
$color-greyFont-Light: #a6b4be;
$color-red: #ff4976;

//font sizes
$card-font-size-text: 13px;
$card-font-size-description: 11px;
//other variables
$base-number-cols: 6;
$base-number-rows: 5;
$card-padding: 0.8em;
